[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
pyjwt = "*"
requests = "*"
redis = "*"
python-json-logger = "*"
psycopg2-binary = "*"
pymongo = {extras = ["srv"], version = "==3.12"}
flask-pymongo = "*"
cryptography = "*"
boto3 = "*"
copyparty = "*"
marshmallow = "*"
pipenv-to-requirements = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
