[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
pyjwt = "*"
requests = "*"
redis = "*"
python-json-logger = "*"
psycopg2-binary = "*"
pymongo = {extras = ["srv"], version = "==3.12"}
flask-pymongo = "*"

[dev-packages]

[requires]
python_version = "3.13"
